//@import '../../configStyles/Variables.scss';
.lodging__grid {
  background-color: #F6F6F6;
  flex-wrap: wrap;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  

  @media (max-width: 768px) {
    background-color: white;
  }
}
